:root {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f4;
}

h1 {
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0px;
  color: #e8550c;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 118%;
  letter-spacing: .18px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e8550c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c5490b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-content {
  max-width: 360px;
  margin: 50px auto 0 auto;
  text-align: left;
}
.mbc-form {
  color: #1d2327;
  letter-spacing: .5px;
  padding: 0;
}
.steps {
  font-weight: 300;
}
strong {
  color: #e8550c;
}